html, body{
  background: #ededed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}

.header{
  width: 100%;
  height: 63px;
  background: #fff;
  font-size: 1.3444rem;
  color: #1DA2B4;
}

.content{
  width: 100%;
  height: auto;
  min-height: calc(100vh - 163px);
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.footer{
  width: 100%;
  height: 100px;
  background: green;
}

.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-table{
  background: #fff;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(7, minmax(150px, 1fr));
  grid-template-rows: auto auto;
  grid-gap: 5px;
  padding: 5px;
  box-sizing: border-box;
  white-space: nowrap;
}


/*
  시세 정보 반응형 쿼리
*/
@media only screen and (min-width: 0px) and (max-width: 576px) {
  .grid-table{
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}

@media only screen and (min-width: 576px) and (max-width: 712px) {
  .grid-table{
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}


@media only screen and (min-width: 712px) and (max-width: 976px) {
  .grid-table{
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@media only screen and (min-width: 976px) and (max-width: 1240px) {
  .grid-table{
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

@media only screen and (min-width: 1240px) and (max-width: 1560px) {
  .grid-table{
    grid-template-columns: repeat(5, minmax(150px, 1fr));
  }
}

.grid-table .item{
  height: 50px;
  background-color: rgba(165, 165, 165, 0.1);
}

.over-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.eng{
  font-family: 'Permanent Marker', cursive;
}

.skeleton-list-item {
  -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

@-webkit-keyframes skeleton-gradient {
  0% {
      background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
      background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
      background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-gradient {
  0% {
      background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
      background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
      background-color: rgba(165, 165, 165, 0.1);
  }
}